<!DOCTYPE html>
<html style="font-size: 12px;">
<head>
	<meta charset="UTF-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<script type="text/javascript">
		(function (doc, win) {
	    var docEl = doc.documentElement,
	        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
	        recalc = function () {
	            var clientWidth = docEl.clientWidth;
	            if (!clientWidth) return;
	            if(clientWidth>=640){
	                // docEl.style.fontSize = '100px';
	                docEl.style.fontSize = 20 * (640 / 640) + 'px';
	            }else{
	                docEl.style.fontSize = 20 * (clientWidth / 640) + 'px';
	            }
	        };

	    if (!doc.addEventListener) return;
	    win.addEventListener(resizeEvt, recalc, false);
	    doc.addEventListener('DOMContentLoaded', recalc, false);
	})(document, window);
	</script>
</head>
<body>
<div  id="root"> </div>
</body>
</html>