.music-player-word{
	position: absolute;
	top: 50px;
	bottom: 65px;
	width: 100%;
	overflow-y:scroll;
	color: #999;
	text-align: center;
	padding: 50% 0;
}
.music-player-word .music-word-row{
	font-size: 14px;
	line-height: 30px;
}