.music-player-word{
	position: absolute;
	top: 50px;
	bottom: 65px;
	width: 100%;
	overflow: hidden;
	color: #999;
	text-align: center;
}
.music-player-halfword{
	height: 50%;
}
.music-player-scrollbox{
	transition:all 1s;
	-webkit-transition:all 1s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
.music-player-wordbox{
	height: 50%;
}
.music-word-row-active{
	color: #FFF;
}
.music-player-word .music-word-row{
	font-size: 14px;
	line-height: 30px;
}